header {
	display: flex;
	flex-direction: row;
	justify-content: start;
	padding: 1em;

	margin-bottom: 1em;
	border-bottom: var(--header-border);
	background: var(--header-background);
}
header div{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: var(--header-height);
}

header a {
	display: block;
	margin-left:  0.3em;
	margin-right: 0.3em;
	text-decoration: none;

	padding: 0.3em;
	border-radius: 0.5em;
}
header a:hover {
	background-color: var(--header-button-hover);
}

header img {
	height: var(--header-height);
}