input[type="submit"] {
	background-color: var(--SCP-black);
	border: none;

	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100px;
	height: 2em;

	border: 1px solid var(--SCP-lightgray);
	border-radius: 5px;

	transition: background-color 0.2s ease;
}
input[type="submit"]:focus-visible,
input[type="submit"]:hover {
	background-color: var(--SCP-gray);
}

form {
	position: relative;
	min-height: 8em;
}