
<div class="main-window">
  	<h2>Login</h2>
  
	<br>
	<div>
    <button class="btn-spotify" (click)="loginWithSpotify()">Iniciar sesión con Spotify</button>
	</div>

  <!-- <form (ngSubmit)="onSubmit()">
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required>

    <button type="submit">Login</button>
  </form> -->
</div>
