<div class="discover-conteiner">
	<div class="discover-cancel">
		<img src="/deny.png" alt="Logo" srcset="">
	</div>
	<div class="discover-song">
		<div class="card song-next">
			<div class="card-img"></div>
			<div class="card-info">
				<h1>Cancion 1</h1>
				<p>Cantante</p>
				<p>Genero</p>
			</div>
		</div>
		<div class="card song">
			<div class="card-img"></div>
			<div class="card-info">
				<h1>Cancion 1</h1>
				<p>Cantante</p>
				<p>Genero</p>
			</div>
		</div>
	</div>
	<div class="discover-acept">
		<img src="/acept.png" alt="Logo" srcset="">
	</div>
</div>