<div class="discover-conteiner">
  <div class="discover-cancel" (click)="rejectSong()">
    <img src="/deny.png" alt="Cancelar" />
  </div>

  <div class="discover-song">
    <div
      class="card song-next"
      *ngIf="songs.length > currentIndex + 1"
    >
      <div class="card-img" [ngStyle]="{'background-image': 'url(' + songs[currentIndex + 1]?.img + ')'}"></div>
      <div class="card-info">
        <h1>{{ songs[currentIndex + 1]?.title }}</h1>
        <p>{{ songs[currentIndex + 1]?.artist }}</p>
        <p>{{ songs[currentIndex + 1]?.genre }}</p>
      </div>
    </div>

    <div
      class="card song"
      [class.move-left]="isRejected"
      [class.move-right]="isAccepted"
      (transitionend)="onTransitionEnd()"
      *ngIf="songs[currentIndex]"
    >
      <div class="card-img" [ngStyle]="{'background-image': 'url(' + songs[currentIndex]?.img + ')'}"></div>
      <div class="card-info">
        <h1>{{ songs[currentIndex].title }}</h1>
        <p>{{ songs[currentIndex].artist }}</p>
        <p>{{ songs[currentIndex].genre }}</p>
      </div>
    </div>
  </div>

  <div class="discover-acept" (click)="acceptSong()">
    <img src="/acept.png" alt="Aceptar" />
  </div>
</div>
