<div class="main-window">
	<div>

		<h1> Bassify </h1>

		<p>
			Bienvenido al proyecto Bassify, una aplicación web con la que podrás descubrir canciones de Spotify de forma aleatoria.
		</p>

		<p>
			Esta aplicación ha sido desarrollada por el equipo Ojete Calor, durante sus practicas en la empresa Métrica.
		</p>


	</div>

	<div>

		<h2> El equipo de desarrollo </h2>

		<div id="TeamPicture">
			<img src="TeamPicture.png" alt="Foto del equipo"/>
		</div>

		<p id="links">
			<a href="https://github.com/OjeteCalor">
				<img src="https://img.shields.io/badge/Ojete%20Calor-111?logo=github&style=for-the-badge" class="white-border">
			</a>
		</p>

	</div>
</div>